body{
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
  }

#container{

    width: 300px;
    text-align: center;
    margin: 0px auto;
    background-color: rgb(245, 255, 250);
    margin-top: 50px;

}